* {margin: 0px; padding: 0; outline: none;} 
html {
    font-size:16px;
}
.goalDiv {
    display : flex;
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
    padding-top: 0.4rem;
}

.checkbox{
    padding-right: 0.7rem; /* 8px */
}