*{margin: 0px; padding: 0px;}
html { 
    font-size: 16px;
}
input[type="checkbox"]{
    -webkit-appearance: none;  
    }
/* unchecked */
input[type="checkbox"]::before {
    content: url("icon-svg/icon_unchecked.svg");

}
input[type="checkbox"]:checked {
    content: url("../icon-svg/icon_checkedd.svg");
    
}
#checkbox{
    padding-right: 0.7rem; /* 8px */
    padding-left: 2rem; /* 8px */
}
.goal {
    /* display: table; */
    /* align-self: center; */
    /* align-items: center; */
    padding-top: 0.2rem;
    vertical-align: middle;
}